/* Write your global styles here, in PostCSS syntax */

*::-webkit-scrollbar-thumb {
	background-color: #54cca8;
	border-radius: 15px;
}

*::-webkit-scrollbar {
	width: 0.1875rem;
	height: 0.1875rem;
}

input[type='radio'] {
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	margin: 0;

	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 0.15rem solid #ffeb71;
	background-color: transparent;
	display: grid;
	place-content: center;
	cursor: pointer;
}

input[type='radio']:disabled {
	cursor: not-allowed;
}

input[type='radio']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em #ffeb71;
}

input[type='radio']:checked::before {
	transform: scale(1);
}
